<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="server_local" value="." />
		<add key="base_local" value="Sensor" />
		
		<add key="server_cloud" value="sistemas-hardware.database.windows.net" />
		<add key="base_cloud" value="Sistemas_Hardware" />
		<add key="userId" value="rodrigo" />
		<add key="password" value="Password123" />

		<add key="PuertoArduino" value="COM4" />
		<add key="BaudRate" value="9600" />
		<add key="IntervaloTimeout" value="10000" />
		<add key="IntervaloHumedad" value="5000" />
	</appSettings>
</configuration>